@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.modal {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    width: 75%;
    height: 75%;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.08);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 100;
    display: none;
    overflow: scroll;
}

.modalShow {
    display: block;
}

.main {
    position: absolute;
    left: 50%;
    height: calc(100% - 75px);
    margin-top: 75px;
    width: 65%;
    transform: translate(-50%);
}

.header {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 75px;
    box-shadow: 0px 3px 16px 8px rgba(0,0,0,0.1);
    background-color: white;
}

.logo {
    position: relative;
}

.logo img {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    height: 30px;
}

.profile {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 50%;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    overflow: hidden;
    transition: 0.2s;
}

.profile:hover {
    box-shadow: 0px 3px 16px 8px rgba(0,0,0,0.1)
}

.profile-pic {
    width: 100%;
    height: 100%;
}

.card {
    cursor: pointer;
    width: 100%;
    height: 200px;
    background-color: pink;
    float: left;
    margin-top: 20px;
}

.card img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    height: 100%;
    float: left;
    box-shadow: 0px 3px 16px 8px rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin-right: 40px;
}

.card-info {
    -webkit-user-select: none;
    margin-top: 20px;
    margin-left: 20px;
}

.card-title {
    font-size: 33px;
}

.card-author {
    margin-top: 5px;
    text-decoration: underline;
}

.add {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 3px 16px 4px rgba(0,0,0,0.1);
    text-align: center;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    text-align: center;
}

.close {
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.modal-title {
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
}

.modal-form form {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.modal-form form input {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-size: 16px;
}

textarea {
    margin-top: 20px;
    font-size: 12px;
    width: 100%;
    height: 50px;
    resize: vertical;
}