@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.modal {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    width: 75%;
    height: 75%;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.08);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal img {
    position: absolute;
    height: 50%;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%)
}

.info {
    position: absolute;
    right: 0%;
    top: 50%;
    height: 75%;
    width: 50%;
    transform: translate(0%, -50%);
}

#postTitle {
    font-size: 42px;
}

#postDesc{
    font-size: 20px;
}

.contact {
    font-size: 30px;
    margin-top: 30px;
}

.return {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}

.delete {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: underline;
    color: red
}