@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.modal {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    width: 75%;
    height: 75%;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.08);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal img {
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
}

.modal .title {
    position: absolute;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 40px;
}

.modal .form {
    position: absolute;
    width: 50%;
    left: 50%;
    margin-top: 150px;
    transform: translate(-50%);
    text-align: center;
}

.form form input {
    width: 75%;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
}

.submit {
    cursor: pointer;
    height: 50px;
}